In [13]:
# Load libraries
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model

In [14]:
# Load dataset
merged_data = pd.read_csv('merged_train.csv')

In [15]:
# Visualize dataset
merged_data.head()

,State,County,FIPS,Total Population,"Percent White, not Hispanic or Latino","Percent Black, not Hispanic or Latino",Percent Hispanic or Latino,Percent Foreign Born,Percent Female,Percent Age 29 and Under,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural,Democratic,Republican,Party
0,AZ,apache,4001,72346,18.571863,0.486551,5.947806,1.719515,50.598513,45.854643,13.322091,32460,15.807433,21.758252,88.941063,74.061076,16298,7810,1
1,AZ,cochise,4003,128177,56.299492,3.714395,34.403208,11.458374,49.069646,37.902276,19.756275,45383,8.567108,13.409171,76.837055,36.301067,17383,26929,0
2,AZ,coconino,4005,138064,54.619597,1.342855,13.711033,4.825298,50.581614,48.946141,10.873943,51106,8.238305,11.085381,65.791439,31.466066,34240,19249,1
3,AZ,gila,4007,53179,63.222325,0.552850,18.548675,4.249798,50.296170,32.238290,26.397638,40593,12.129932,15.729958,82.262624,41.062000,7643,12180,0
4,AZ,graham,4009,37529,51.461536,1.811932,32.097844,4.385942,46.313518,46.393456,12.315809,47422,14.424104,14.580797,86.675944,46.437399,3368,6870,0

In [16]:
# Task 1

In [17]:
# Partition dataset into training and validationg sets using 80-20 split
x_train, x_val, y_train, y_val = train_test_split(merged_data.drop(['State', 'County', 'FIPS', 'Democratic', 'Republican', 'Party'], axis=1), merged_data[['Democratic', 'Republican', 'Party']], test_size=0.2, random_state=0)

In [18]:
print(x_train.shape)
print(y_train.shape)
print(x_val.shape)
print(y_val.shape)

(956, 13)
(956, 3)
(239, 13)
(239, 3)

In [20]:
# Visualize training set: predictor variables
x_train.head()

,Total Population,"Percent White, not Hispanic or Latino","Percent Black, not Hispanic or Latino",Percent Hispanic or Latino,Percent Foreign Born,Percent Female,Percent Age 29 and Under,Percent Age 65 and Older,Median Household Income,Percent Unemployed,Percent Less than High School Degree,Percent Less than Bachelor's Degree,Percent Rural
1090,63355,94.057296,1.314813,1.534212,1.067003,48.011996,36.140794,16.156578,52657,4.187743,7.879569,80.721503,46.142754
103,33461,91.802397,0.878635,5.905382,2.459580,50.521503,38.928902,15.600251,55485,6.384942,13.001171,83.457969,68.038712
745,7131,35.520965,2.131538,61.716449,20.782499,46.893844,45.982331,14.289721,40589,2.109447,32.383600,89.251795,28.750872
1048,58963,94.454149,0.746231,1.831657,3.578515,50.594441,34.287604,17.003884,58171,4.603880,6.360298,59.539254,52.805120
1186,8572,91.565562,0.443304,2.134858,1.656556,46.966869,32.571162,20.496967,54594,4.512276,5.105750,74.537343,49.025557

In [22]:
# Visualize training set: labels
y_train.head()

      Democratic  Republican  Party
1090       13798       13830      0
103         3278        6987      0
745          405        1202      0
1048       19395        6517      1
1186         722        3085      0

In [23]:
# Task 2

In [24]:
# Standardize the training set and the validation set
scaler = StandardScaler() 
scaler.fit(x_train)
x_train_scaled = scaler.transform(x_train) 
x_val_scaled = scaler.transform(x_val)

In [25]:
# Task 3

In [26]:
model = linear_model.LinearRegression()
fitted_model = model.fit(x_train_scaled[:, [4, 6, 8, 10]], y_train['Democratic'])
print(fitted_model.coef_)

[ 48397.5368297   -2042.16467294   -255.84309934 -22764.93061841]

In [27]:
predicted = fitted_model.predict(x_val_scaled[:, [4, 6, 8, 10]])

In [28]:
corr_coef = numpy.corrcoef(predicted, y_val['Democratic'])[1, 0] 
R_squared = corr_coef**2
print(R_squared)

0.4032539649586315